# Base de datos Supabase (O local)
DATABASE_URL="postgresql://[USUARIO]:[CONTRASEÑA]@[HOST]:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://[USUARIO]:[CONTRASEÑA]@[HOST]:5432/postgres"

# Credenciales Supabase (Solo si se usa la API de Supabase)
SUPABASE_URL="https://[TU-PROYECTO].supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_..."
SUPABASE_SECRET_KEY="sb_secret_..."
SUPABASE_JWKS_URL="https://[TU-PROYECTO].supabase.co/auth/v1/.well-known/jwks.json"

# Autenticación NestJS
NEXTAUTH_SECRET="fadeco_super_secret_key_2026_xyz123"
NEXTAUTH_URL="http://localhost:3000"
